<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div style="text-align: center;margin-top:20%;">
  <a name="Trigger1" style="font-size:48px;color: blue;" class="trigger1" id="co">Trigger1</a>
 </div>

 <script src="{% static 'js/jquery.min.js' %}"></script>
 <script>
 // AJAX CALL
 $('.trigger1').click(function(){
     $.ajax({
              type: "POST",
              url: "/trigger/1",
              data: JSON.stringify({'trigger': "1", 'room':'office','csrfmiddlewaretoken': '{{ csrf_token }}'}),
              dataType: "json",
         });
 
   })
 </script>
</body>
</html>